@import 'tailwindcss';

:root {
  --color-primary: #00c986;
  --color-secondary: #017715;
  --color-background: #0A0A0A;
  --color-surface: #111111;
  --color-surface-2: #1A1A1A;
  --color-text: #F5F5F5;
  --color-text-muted: #888888;
}